@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
html, body{
    height:100%;
    width:100%;
    margin:0px;
}
.main{
    height:100%;
    width:100%;
    margin:0px;
    display:grid;
    grid-template-columns:1fr;
    grid-row:1fr;
    align-items:center;
    justify-items:center;
}
.container{
    height:90%;
    width:65%;
    background:linear-gradient(#fa9949,#dd721a);
    border:2vmin solid #ff7300;
    border-radius:4vmin;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 5fr;
    align-items:center;
    justify-items:center;
}
.menu{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
    grid-template-rows:1fr;
    align-items:center;
    justify-items:center;
    border-radius:0vmin 0vmin 2vmin 2vmin;
}
.combination{
    width:99%;
    height:99%;
    font-size:1.7vmin;
    font-family: 'Orbitron', sans-serif;
    color:#ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.combList{
    height:55%;
    width:98%;
    display:flex;
    flex-direction:column;
    font-size:1.7vmin;
    background:linear-gradient(#ff8c2e,#e48334);
    align-items:center;
    justify-content:center;
    border-radius:1vmin;
}
.lowerHeader{
    width:98%;
    height:9%;
    background:linear-gradient(#fc8626,#e48334);
    text-align:center;
    font-size:2.5vmin;
    margin-bottom:1vmin;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:1vmin;
}
.start{
    width:99%;
    height:99%;
    font-size:1.7vmin;
    font-family: 'Orbitron', sans-serif;
    color:#ffffff;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.game{
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr 8fr 2fr;
    align-items:center;
    justify-items:center
}
.mult{
    height:96%;
    width:100%;
    background:linear-gradient(#ff8c2e,#e48334);
    border-radius:1vmin;
}
.slots{
    height:100%;
    width:100%;
    background:linear-gradient(#ff8c2e,#e48334);
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows:1fr;
    align-items:center;
    justify-items:center;
}
.roll{
    height:95%;
    width:93%;
    background-color:white;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    align-items:center;
    justify-items:center;
}
.reel{
    position:relative;
    height:48vh;
    width:93%;
    background:#ffffff;
    background-image:url("slotreel.webp");
    background-repeat:no-repeat;
    background-size:15vmin;
    background-position:center;
	background-repeat:repeat-y;
}
.balance{
    height:90%;
    width:100%;
    background:linear-gradient(#ff8c2e,#e48334);
    font-size:3vmin;
    font-family: 'Orbitron', sans-serif;
    color:#ffffff;
    display:flex;
    flex-direction:row;
    text-align:center;
}
.userName{
    height:100%;
    width:50%;
}
.balanceStat{
    height:100%;
    width:50%;
    background:linear-gradient(#ff8c2e,#e48334);
}
.startButton{
    height:30%;
    width:98%;
    background:linear-gradient(#ff8c2e,#e48334);
    border:1vmin solid white;
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size:6vmin;
    margin-top:10%;
    border-radius:1vmin;
}
.header{
    font-size:12vmin;
    font-family: 'Orbitron', sans-serif;
    color:white;
}
.bet{
    height:20%;
    width:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size:3vmin;
}
.betInput{
    margin-top:5%;
    width:35%;
    height:40%;
    font-size:3vmin;
    background:linear-gradient(#fa9949,#dd721a);
    border:1vmin solid white;
    font-family: 'Orbitron', sans-serif;
    color:white;
    border-radius:1vmin;
    text-align:center;
}
.yourWin{
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size:3vmin;
    display:flex;
    margin-top:1.5%;
    justify-content:center;
}
@media (1200px <= width <= 1600px) {
    .startButton{
        font-size:4vmin;
    }
    .lowerHeader{
        font-size:2vmin;
    }
    .combList{
        height:70%;
        font-size:1.5vmin;
    }
}
@media (1000px <= width <= 1200px) {
    .startButton{
        font-size:2.5vmin;
    }
    .start{
        width:75%;
    }
    .lowerHeader{
        font-size:1.6vmin;
    }
    .combList{
        height:70%;
        font-size:1.3vmin;
    }
    .bet{
        font-size:2vmin;
    }
    .betInput{
        font-size:2vmin;
    }
}
@media (100px <= width <= 1000px) {
    .header{
        font-size:10vmin;
    }
    .startButton{
        font-size:1.5vmin;
    }
    .start{
        width:60%;
    }
    .lowerHeader{
        font-size:1.6vmin;
    }
    .combList{
        height:70%;
        font-size:1.3vmin;
    }
    .bet{
        font-size:1.5vmin;
    }
    .betInput{
        font-size:1.5vmin;
    }
}